.eat-inside-title {
    background-color: #627DFF;
    height: 307px;
}

.eat-inside-title h3,
.eat-inside-title h1 {
  background-color: inherit; /* 부모와 동일한 배경색 */
  font-family: 'Pretendard-SemiBold';
  color: #F1F3F7;
}

.eat-inside-title h3 {
    font-size: 26px;
    margin-top: 117px;
}

.eat-inside-title h1 {
    font-size: 48px;
    margin-top: 14px;
}

.eat-inside-back {
    background-color: #627DFF;
}
  
.eat-inside-contents {
    background-color: #F1F3F7;
    border-radius: 80px 80px 0 0; /* 위쪽 모서리만 둥글게 */
    width: auto;
    height: 2158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eat-content-box {
    position: relative;
    top: 120px;
    background-color: white;
    width: 1320px;
    height: 572px;
    border-radius: 30px;
}

.eat-location,
.eat-star-images,
.eat-star-content,
.eat-content-box-content,
.eat-star-images img,
.eat-content-image{
    width: auto;
    background-color: inherit;
}

.eat-location {
    position: absolute;
    font-size: 20px;
    width: 190px;
    top: 47px;
    left: 41px;
    font-family: 'Pretendard-SemiBold';
}

.eat-star-images {
    position: absolute;
    top: 112px;
    left: 47px;
    display: flex;
    align-items: center;
}

.eat-star-images img {
    width: 65px;
    height: 65px;
    margin: 3px;
}

.eat-star-images span {
    color: #B4B4B4;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Pretendard-SemiBold';
}

.eat-content-box-content {
    position: absolute;
    line-height: 60px;
    font-size: 22px;
    font-family: 'Pretendard-Regular';
    text-align: start;
    top: 231px;
    left: 45px;
}

.eat-content-image {
    position: absolute;
    top: 112px;
    right: 35px;
}


.eat-writeBtn {
    margin-top: 135px;
    width: 1320px;
    height: 54px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    background-color: #b4b4b4; /* 비활성화 상태 색상 */
    transition: background-color 0.3s ease;

    div {
        font-family: 'Pretendard-SemiBold';
        font-size: 20px;
        background-color: inherit;    
        color: #ffffff;
        margin: 5px;
    }
  }
  
  .eat-writeBtn img {
    background-color: inherit;    
  }
  
  .eat-writeBtn.disabled:hover {
    cursor: not-allowed; /* 비활성화 상태에서 커서 설정 */
  }
  

  .eat-review-form {
    box-sizing: border-box;
    margin-top: 150px;
    width: 1320px;
    height: 134px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.eat-review-form input.review-body {
    width: 65%; /* 너비 설정 */
    height: 40px; /* 높이 설정 */
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Pretendard-Medium';
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 20px;
}


.eat-review-form .star-rating {
    position: absolute;
    bottom: 15px;
    left: 25px;
    display: flex;
    align-items: center;
    background-color: white;
}

.eat-review-form .star-rating img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: inherit;
}

.eat-review-form .star-rating img:hover {
    transform: scale(1.2);
}

.eat-review-form .submit-review-button {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 52.6px;
    height: 52.6px;
    background-color: #627DFF;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-family: 'Pretendard-SemiBold';
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        background-color: inherit;
    }
}

.eat-review-form .submit-review-button:hover {
    background-color: #5066cc;
}
