@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: #F1F3F7;
  }

.main {
    margin-top: 143px;
    font-family: 'Pretendard-Regular';
    display: inline-block;
}
  
.main > h3 {
    font-size: 26px;
    color: #7E94FF;
}
  
.main > h1 {
    margin-top: 14px;
    font-size: 48px;
    color: black;
}
  
  .categories {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 113px;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-container {
    width: 238px;
    height: 238px;
    border-radius: 120px;
    margin: 0 95.5px;
    cursor: pointer;  
    z-index: 5;  
  }

  .img-container.indexdown {
    z-index: -1;
  }
  
  .category p {
    margin-top: 33.5px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer; 
    z-index: -2;
 }
