@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: #F1F3F7;
  }

  a {
    text-decoration: none;
  }
  
  nav {
    position: relative;
    margin: auto;
    display: flex;
    background-color: #ffffff;
    width: 1460px;
    height: 53px;
    border-radius: 100px;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    padding: 0 74px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.215);*/
  }
  
  .nav-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-btns {
    background-color: white;
  }
  
  .nav-btns a {
    margin: 0 30px;
  }
  
  .nav-logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav-logo a{
    background-color: white;
  }
  
  .nav-logo img{
    width: 75px;
    background-color: white;
  }
  
  .nav-login {
    position: relative;
    margin-left: 910px;
    background-color: white;
  }
  
  .nav-login a, .nav-login img{
    background-color: white;
  }
  
  .nav-login img {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
  }
  
  .nav-btns a, .nav-login a{
    background-color: white;
    color: #494949;
  }
  
  .nav-btns a:hover, .nav-login:hover , .nav-login a:hover {
    color: #6562FF;
    cursor: pointer;
  }
  