@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  background-color: #F1F3F7;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 0; /* 여백 제거 */
  background-color: inherit;
}

nav {
  position: relative;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  width: 1460px;
  height: 53px;
  border-radius: 100px;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  font-weight: 800;
  padding: 0 74px;
  margin-top: 10px;
}

.nav-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btns {
  background-color: white;
}

.nav-btns a {
  margin: 0 30px;
}

.nav-logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-logo a {
  background-color: white;
}

.nav-logo img {
  width: 75px;
  background-color: white;
}

.nav-login {
  position: relative;
  margin-left: 910px;
  background-color: white;
}

.nav-login a, .nav-login img {
  background-color: white;
}

.nav-login img {
  position: absolute;
  top: 50%;
  left: 140%;
  transform: translate(-50%, -50%);
}

.nav-btns a, .nav-login a {
  background-color: white;
  color: #494949;
}

.nav-btns a {
  position: relative; /* ::after를 위치시킬 기준 설정 */
}

.nav-btns a.active::after {
  content: ""; /* 라인 추가 */
  position: absolute;
  left: 0;
  bottom: -15px; /* 텍스트 아래로 약간 내려줌 */
  width: 100%;
  height: 2px; /* 선의 두께 */
  background-color: #6562FF; /* 선 색상 */
}

.nav-btns a.active {
  color: #6562FF;
  font-weight: bold; /* 필요하면 추가 */
}

.nav-btns a:hover, .nav-login a:hover {
  color: #6562FF;
  cursor: pointer;
}


/* 메뉴 모달 */
.menu-modal {
  position: absolute;
  top: 60px; /* nav-login 아래 */
  right: 10px; /* 오른쪽 정렬 */
  background-color: #e2e8f0;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px 0;
  z-index: 1000;
}

/* 메뉴 리스트 */
.menu-modal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-modal li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 14px;
  color: #4a5568;
}

.menu-modal li:hover {
  background-color: #cbd5e0;
}

.menu-modal li img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
