@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

.study-firstsection {
    height: 298px;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1227px;
}

.study-secondsection {
    margin-top: 91px;
}

.study-firstsection h1,
.study-firstsection h3 {
    font-family: 'Pretendard-SemiBold';
    text-align: left;
}

.study-firstsection h3 {
    color: #7E94FF;
    font-size: 26px;
}

.study-firstsection h1 {
    margin-top: 5px;
    color: #000000;
    font-size: 48px;
}

.study-firstsection p {
    margin-top: 29px;
    font-family: 'Pretendard-Regular';
    color: #13424C;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

.study-categories {
    display: grid; /* Grid 레이아웃 사용 */
    grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
    gap: 20px; /* 박스 간 간격 */
    list-style: none; /* ul 기본 스타일 제거 */
    padding: 0; /* ul 기본 패딩 제거 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    max-width: 1227px; /* 전체 박스의 최대 너비 */
}

.study-main {
    margin-bottom: 400px;
}